/* ============================
   General Styling
============================ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
}


/* Navbar Styling */
.custom-navbar {
    background-color: #38845A;
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Footer Styling */
.custom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: rgb(147, 123, 123);
}

a{
    display: block;
    text-decoration: none; 
    color: inherit; 
}


/* Custom Toast Styles */
.custom-toast-top {
    margin-top: 60px !important; /* Adjust gap from top */
}

.toast {
    color: white !important; 
    background-color: #38845a !important; 
    border: none !important;
}

.toast-progress {
    background-color: #ffffff !important; 
}