{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <!-- Left Section -->
    <div class="left-section">
        <h1>Garden Go Auto Courier Connect</h1>
        <p>Connect with your green thumb and discover gardening essentials today.</p>
    </div>
    <!-- Right Section -->
    <div class="right-section">
        <form method="POST" class="form-container">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }} {{ form.email }}
            </div>
            <div>
                {{ form.password.label }} {{ form.password }}
            </div>
            <div>
                <button type="submit" class="btn">Login</button>
            </div>
            <p class="forgot-password">
                Forgot your password? <a href="#">Reset it here!</a>
            </p>
            <p class="register">
                Not a user? <a href="#">Register here!</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
